.order_table {
  width: 100%;
  
}
.color {
  width: 20%;
  
  padding: 10px;
}
.size {
  width: 20%;
  
  padding: 10px;
}
.quantity {
  width: 50%;
}
.order_table {
  border: 1px solid #c3c3c3;
  border-right: none;
  border-bottom: none;
  text-align: center;
  font-size: 1.0rem;
  font-family: cursive;
}
.order_table th {
  border-right: 1px solid #c3c3c3;
  border-bottom: 1px solid #c3c3c3;
}


.order_table td {
  border-right: 1px solid #c3c3c3;
  border-bottom: 1px solid #c3c3c3;
  padding: 10px;
}

.order_table select {
  
  width: 100%;
}

.cart_btn {
  background-color: #4B4B4B;
  color: white;
  width: 100%;
  padding: 20px;
  margin-top: 30px;
  display: block;
  text-align: center;
  font-weight: 300;
  font-family: cursive;
}

.size_table {
  font-family: cursive;
  width: 100%;
  text-align: center;
  margin-top: 30px;
  border-top: solid 1px #c3c3c3;
  border-left: solid 1px #c3c3c3;
  
}

.size_table th {
  background-color: #C7C7C7;
  width: 20%;
  padding: 10px;
  border-right: 2px solid #c3c3c3;
  border-bottom: 1px solid #c3c3c3;
}
.size_table td {
  border-right: solid 1px #c3c3c3;
  border-bottom: solid 1px #c3c3c3;
  
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
