.header {
  
  /* position: fixed;
  z-index: 10px; */
  height: 30%;
  border-bottom: 2px solid black;
  text-align: center;
  margin-top: 40px;
}
.header p {
  font-size: 2rem;
  margin-left: 33px;
}

@media (max-width: 768px)  {
  .header{
    
    padding-bottom: 20px;
  }
  .header p {
    margin: 0;
  }
}