.main_wrapper {
  background-color: #f4fafa;
}

.main {
  max-width: 1040px;
  margin: 0 auto;
  padding: 96px 0;
}
.lesson_container {
  margin-top: 96px;
}

.lesson_card {
  display: inline-block;
  width: 22.5%;
  margin-right: 24px;
  text-align: center;
  box-shadow: 0 0 6px #e8e8e8;
  background-color: #fff;
  cursor: pointer;
}

.lesson_item {
  border-radius: 4px;
  padding: 48px 0 64px;
}

.lesson_item img {
  width: 126px;
}

.lesson_item p {
  color: #2b546a;
}



