.contact {
  width: 72%;
  margin: 0 auto;
  position: fixed;
  position: relative;
  padding-bottom: 120px;
}
.contact label {
  display: flex;
  margin-top: 40px;

}
.contact h2 {
  border-bottom: 1px solid #8491A4;
  padding-bottom: 20px;
}
.contact p {
  font-size: 1.2rem;
  color: #8491A4;
  height: 1px;
}

.email {
  font-size: 1.2rem;
  color: #8491A4;
}
.content {
  font-size: 1.2rem;
  color: #8491A4;
}
.text {
  width: 43%;
  height: 45px;
}
.checkbox {
  position: absolute;
  bottom: 26%;
  
}
.agree {
  margin: 0 0 9px 22px;
}
.submit {
  width: 20%;
  height: 55px;
  /* margin-top: 200px; */
  /* position: absolute; */
  /* top: 300px;
  left: 1px; */
  
}

@media (max-width: 768px)  {
  .article {
    display: block;
    width: 95%;
    margin: 30px auto;
  }
  .article a {
    
    border-bottom: 2px solid black;
    width: 26%;
    margin: 30px auto;
  }
}