.main {
  width: 90%;
  margin-left: 30px;
}
.main h1 {
  font-size: 1.5rem;
}
.main ul {
  font-size: 0.9rem;
  display: flex;
}

.first {
  margin: 0 30px 0 -39px;
}
.main h2 {
  font-size: 1rem;
  font-weight: normal;
  line-height: 30px;
  margin-top: 10px;
}
.main a {
  display: block;
  width: 100%;
  margin-top: 20px;
  text-align: center;
}
@media (max-width: 768px)  {
  .main {
    margin: 50px auto;
    
  }
}