.container {
  /* min-height: 100vh;
  padding: 0 0.5rem; */
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  height: 100%;
  width: 87%;
  margin: 0 auto;
}

.wrapper {
  display: flex;
  margin: 80px auto;
  width: 60%;
  
}
@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
