.home {
  min-width: 100%;
}
.container {
  /* min-height: 100vh;
  padding: 0 0.5rem; */
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  height: 100%;
  /* width: 87%; */
  margin: 0 auto;
}

.progate {
  margin: 0;
  padding: 0;
  font-family: "Avenir Next";
  min-width: 1280px;
}

.progate ul {
  list-style: none;
}

.progate h1 {
  font-family: "Avenir Next";
  font-size: 56px;
  font-weight: 400;
  color: #0bc8b6;
}



.progate h2 {
  font-size: 24px;
  margin-top: 8px;
  font-family: "Lato";
  color: #2b546a;
  font-weight: 300;
}

.progate h3 {
  font-size: 20px;
  border-bottom: 1px solid #e1e6ec;
  line-height: 64px;
  margin-bottom: 40px;
  font-family: "Lato";
  color: #2b546a;
  font-weight: 300;
}




.wrapper {
  display: flex;
  margin: 80px auto;
  width: 60%;
  
}
.contents {
  display: flex;
  margin: 80px 0;
  
}
.footer {
  display: flex;
  background-color: #F7F7F7;
  width: 100%;
  margin-top: 20px;
  padding: 60px 0;
}
@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
